body {
    background-color: darkseagreen;
    background-image: url(images/GreenSucculents.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn {
  background-color:#679436;
  border: none;
  border-radius: 22px;
  margin: 10px 0px 0px 0px;
  width: 200px;
  
  
}
.btn:hover {
  background-color: rgb(26, 153, 45);
  color: #fff;
}
.btn-secondary:hover {
 color:rgb(95, 180, 11);
 color: #fff;
}

.login-container {
    align-content: center;
    background-color: #73796d7b;
    border: none #fff;
    border-radius: 10px;
    display: block;
    flex-direction: column;
    /* justify-content: flex-start; */
    box-shadow: darkgray;
    
    padding: 100px;
    width: 650px;
    
}
.form-check-label {
  font-size: 15px;
  
}